{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/nano-banana/edit","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/nano-banana/edit queue.","x-fal-metadata":{"endpointId":"fal-ai/nano-banana/edit","category":"image-to-image","thumbnailUrl":"https://fal.media/files/koala/1iXUmtPWBg9oNTpkAv48W_ce1da4146f99452f8c1dfe58dd2b150e.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/nano-banana/edit","documentationUrl":"https://fal.ai/models/fal-ai/nano-banana/edit/api"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"NanoBananaEditInput":{"title":"NanoBananaEditMultiImageInput","type":"object","properties":{"sync_mode":{"title":"Sync Mode","type":"boolean","description":"When true, images will be returned as data URIs instead of URLs.","default":false},"num_images":{"description":"Number of images to generate","type":"integer","examples":[1],"maximum":4,"title":"Number of Images","minimum":1,"default":1},"prompt":{"examples":["make a photo of the man driving the car down the california coastline"],"maxLength":5000,"type":"string","title":"Prompt","minLength":3,"description":"The prompt for image editing."},"output_format":{"enum":["jpeg","png"],"title":"Output Format","type":"string","description":"Output format for the images","default":"jpeg"},"image_urls":{"description":"List of URLs of input images for editing.","type":"array","minItems":1,"items":{"type":"string"},"examples":[["https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input.png","https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input-2.png"]],"maxItems":10,"title":"Image URLs"}},"x-fal-order-properties":["prompt","image_urls","num_images","output_format","sync_mode"],"required":["prompt","image_urls"]},"NanoBananaEditOutput":{"title":"NanoBananaEditImageMultiOutput","type":"object","properties":{"images":{"examples":[[{"url":"https://storage.googleapis.com/falserverless/example_outputs/nano-banana-multi-edit-output.png"}]],"title":"Images","type":"array","description":"The edited images","items":{"$ref":"#/components/schemas/File"}},"description":{"examples":["Here is a photo of the man driving the car down the California coastline. "],"title":"Description","type":"string","description":"Text description or response from Gemini"}},"x-fal-order-properties":["images","description"],"required":["images","description"]},"File":{"title":"File","type":"object","properties":{"file_size":{"examples":[4404019],"title":"File Size","anyOf":[{"type":"integer"},{"type":"null"}],"description":"The size of the file in bytes."},"file_name":{"examples":["z9RV14K95DvU.png"],"title":"File Name","anyOf":[{"type":"string"},{"type":"null"}],"description":"The name of the file. It will be auto-generated if not provided."},"content_type":{"examples":["image/png"],"title":"Content Type","anyOf":[{"type":"string"},{"type":"null"}],"description":"The mime type of the file."},"url":{"title":"Url","type":"string","description":"The URL where the file can be downloaded from."}},"x-fal-order-properties":["url","content_type","file_name","file_size"],"required":["url"]}}},"paths":{"/fal-ai/nano-banana/edit/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/nano-banana/edit/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/nano-banana/edit":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NanoBananaEditInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/nano-banana/edit/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NanoBananaEditOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}